.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  margin-left: 10vmin;
  margin-right: 10vmin;
  padding: 2vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-bottom: 3px solid #eeeeee59;
}

.App-Search {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}

.order-container {
  margin-left: 10vmin;
  margin-right: 10vmin;
  margin-top: 2vmin;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
